html, body {
	padding: 0;
	margin: 0;
}

.door__header {
	height: 100px;
	margin-bottom: 20px;
	background-color: #856a6a;
}

.door__item {
	height: 100px;
	margin-bottom: 10px;
	background-color: #ccc;
}

.door__inner {
	display: none;
}

.door__block.active .door__inner {
	display: block;
}
.door__block:has(input:checked) .door__header{
	background-color: blue;
}

.door__item:has(input:checked){
		background-color: #1bee07;
}