html, body, button, p, img {
	padding: 0;
	margin: 0;
}

body {
	background-color: #f8f4e3;
}

.door {
}

.door__block {

	border-top: 2px solid #606360;
	border-bottom: 2px solid #1b1b1b;
}

.door__block:first-child {
	border-top: none;
}

.door__block:last-child {
	border-top: none;
}

.door__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;

	background-color: #4e504e;

}

.door__title {
	margin: 0;
	padding: 0;

	font-size: 32px;
	line-height: 34px;
	color: #151615;

	text-align: center;
}

.door__block.active .door__inner {
	display: block;
}
.door__block:has(input:checked) .door__header{
	background-color: #413f3f;
}


.door__inner {
	display: none;
}

.door__item {
	padding: 10px 10px;

	background-color: #706c61;
	border-top: 2px solid #757267;
	border-bottom: 2px solid #49473f;
}

.door__item:has(input:checked){
	background-color: #858176;
}


.door__checkbox-label {
	display: block;
	margin-bottom: 15px;

	font-size: 20px;
	line-height: 24px;
	text-align: center;
}

.door__btn-block {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.door__value-btn {
	width: 40px;
	height: 30px;

	background-color: #5e5a52;
	border: 1px solid #1f1d1b;
	border-radius: 8px;
}

.door__value-btn--minus {
	margin-right: 10px;
}


.door__amount {
	width: 35px;
	margin-right: 10px;

	text-align: center;

	background-color: #f8f4e3b2;
	border: 1px solid #f8f4e328;
	border-radius: 8px;
}

.door__amount-res {
	padding: 15px;

	font-size: 24px;
	line-height: 24px;

	background-color: #706c61;
	border-top: 2px solid #757267;
	border-bottom: 2px solid #49473f;
}


.door__sum-btn {
	width: 100%;
	padding: 25px 0;

	font-size: 28px;
	font-weight: 700;
	line-height: 28px;

	background-color: #dbd7c6
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}